/* Dashboard Styles */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.dashboard h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.dashboard p {
  font-size: 16px;
  color: var(--color-black);
  margin-bottom: 20px;
}

/* Mobile devices */
@media screen and (max-width: 767px) {
  .dashboard {
      padding: 10px;
  }
}