/* Styles pour le header */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#4d72a2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles pour le logo */
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .logo span {
    color: #3498db; /* Couleur pour les mots "Life" et "Harmony" */
  }
  
  /* Styles pour le menu */
  .menu {
    display: flex;
    align-items: center;
  }
  
  .navbar {
    list-style: none;
    display: flex;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color:rgb(0, 0, 0); /* Couleur au survol */
  }
  
  /* Style pour le bouton de déconnexion */
  .logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .logout-button:hover {
    background-color: #c0392b; /* Couleur au survol */
  }
  